---
/* importando estilos */
import "../styles/reset.css";

import {  ClientRouter } from "astro:transitions";

const { title, description, keywords, image } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="author" href="/humans.txt" />
  <link rel="icon" type="image/svg+xml" href="/fotosgratis.svg" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png" />
  <meta name="generator" content={Astro.generator} />

  <title>
    {title} - Descarga simple y rápida Free Photos, free pic, fotos gratuitas, fotos sin derechos de autor, banco de fotos, imágenes gratis.
  </title>

  <!-- META -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords} />
  <meta name="copyright" content="© FG" />
  <meta name="robots" content="Index,Follow" />
  <meta name="distribution" content="global" />
  <meta name="author" content="Edgar Cornejo" />
  <meta name="designer" content="Edgar Cornejo" />

  <!-- Open Graph -->
  <meta property="og:title" content={title} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.fotos.edgarcornejo.com" />
  <meta property="og:image" content={image} />
  <meta property="og:image:alt" content="Logotipo Fotos Gratis" />
  <meta property="og:site_name" content="Fotos Gratis" />
  <meta property="og:locale" content="es_PE" />

  <ClientRouter />
</head>
