---
const { title, description, keywords, image } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="author" href="/humans.txt" />
  <link rel="icon" type="image/svg+xml" href="/fotosgratis.svg" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <meta name="generator" content={Astro.generator} />

  <title>
    {title} - Descarga simple y rápida Free Photos, free pic, fotos gratuitas, fotos
    sin derechos de autor, banco de fotos, imágenes gratis.
  </title>
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords} />

  <meta name="copyright" content="© 2020 FG" />
  <meta name="robots" content="Index,Follow" />
  <meta name="distribution" content="global" />
  <meta name="author" content="Edgar Cornejo" />
  <meta name="designer" content="Edgar Cornejo" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.fotos.edgarcornejo.com" />
  <meta property="og:image" content={image} />
  <meta property="og:site_name" content="Fotos Gratis" />

  <!-- importando fuentes e iconos -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Viga&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
</head>
