---
/* importando estilos */
import "../styles/reset.css";
import "../styles/main.css";

/* importando componentes */
import Head from "../layouts/Head.astro";
import Header from "../components/Header.astro";
import AsideFooter from "../components/AsideFooter.astro";

const {
  title = "Fotos Gratis",
  description = "Fotos Gratis es un banco de fotos sin derecho de autor, gratuitas para todos para proyectos web o diseños de cualquier tipo.",
  keywords = "free pic, fotos gratuitas, fotos sin derechos de autor, banco de fotos, imágenes gratis",
  image = "/app/fotosgratis.svg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head {title} {description} {keywords} {image} />
  <body>
    <Header {title} />

    <main id="main-content">
      <section id="main-section">
        <slot />
      </section>
    </main>

    <AsideFooter />
  </body>
</html>
